/* 

    Colores principales 

    #1354A5 - Azul (Ganador)
    #a51d13 - Rojo (Perdedor)
    
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #7034a1cd;
    background-image: url("img/Ruido.png");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 5px solid #f4f4f4;
    box-shadow: 4px 4px 20px 0px rgba(140, 142, 144, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}

.container__contenido {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informaciones {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.container__boton {
    border-radius: 16px;
    background: #010101;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 16px;
}

.container__texto {
    margin: 16px 0 16px 0;
    text-align: center;
}

.container__texto-azul {
    color: #f8f8f8;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
}

h2,
p,
button {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}


/* Personalizado */
.logo{
    width: 10rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ganador{
    background-color: #1354A5;
}

.perderdor{
    background-color: #a51d13;
}